My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.folder }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -608
      ],
      "id": "a5fa5ee5-d38d-4b3c-831c-41b3b77571b5",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.Body }}",
                    "rightValue": "LIST",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "59596018-bc09-4db7-9629-fe84efde2905"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "66d2c2b4-7e7a-45ec-a592-b094de88f488",
                    "leftValue": "={{ $json.body.Body }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "del"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42e93823-56a4-4c5d-9c9a-706e17f9ae6a",
                    "leftValue": "={{ $json.body.Body }}",
                    "rightValue": "MOVE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "move"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "10c90dfa-00a5-4a79-823d-f4ed060f6df1",
                    "leftValue": "={{ $json.body.Body }}",
                    "rightValue": "SUMMARY",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "summary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a0240232-4e17-474d-b888-0d003977bdfd",
                    "leftValue": "={{ $json.body.Body }}",
                    "rightValue": "CONFIRM DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "c del"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -752,
        -304
      ],
      "id": "942515af-de42-492f-8852-fb8be5b3b583",
      "name": "Switch"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nvalue = _input.all()[0]['json']['body']['Body']\ns=value.split('/')\nfolder=s[1].replace(\" \",\"\")\n#file=s[2].replace(\" \",\"\")\n#dest=s[3].replace(\" \",\"\")\n\n\n\nreturn [{\n  'json':{\n    'folder':folder,\n    \n    \n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -608
      ],
      "id": "5cb9a6e1-d262-4d59-95c0-13f12cdbed94",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        -608
      ],
      "id": "f3f2d2dc-b1f8-4316-b22e-74227d87e2f3",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvalue = _input.all()[0]['json']['body']['Body']\ns=value.split('/')\nfolder=s[1].replace(\" \",\"\")\nfile=s[2].replace(\" \",\"\")\n#dest=s[3].replace(\" \",\"\")\n\n\n\nreturn [{\n  'json':{\n    'folder':folder,\n    'file':file\n    \n    \n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -416
      ],
      "id": "25eac40e-e370-443f-9b6b-25bc66aacf42",
      "name": "Code1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.folder }}",
        "filter": {
          "folderId": {
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -416
      ],
      "id": "682cb3fc-06eb-47ad-b199-fefe451b03c1",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Code1').item.json.file }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        -416
      ],
      "id": "e04892de-1e9f-4fec-aecf-f29b194b2638",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        -432
      ],
      "id": "7d01621a-6e64-433e-8896-b7ff7d54ac88",
      "name": "Delete a file",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\n\nvalue = _input.all()[0]['json']['body']['Body']\ns=value.split('/')\nfolder=s[1].replace(\" \",\"\")\nfile=s[2].replace(\" \",\"\")\ndest=s[3].replace(\" \",\"\")\n\n\n\nreturn [{\n  'json':{\n    'folder':folder,\n    'file':file,\n    'dest':dest\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -208
      ],
      "id": "e3cfcac6-35e8-4795-9ca5-075647d8ed06",
      "name": "Code2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.folder }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -208
      ],
      "id": "cee0cc09-02fb-48bd-be59-2e2904b96ebc",
      "name": "Search files and folders4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Code2').item.json.file }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        -208
      ],
      "id": "0e5abc00-56ec-49e4-9091-18d965962e76",
      "name": "Search files and folders5",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Code2').item.json.dest }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        -208
      ],
      "id": "e6c99d02-eca8-41fc-b3df-4692cf8eb7d9",
      "name": "Search files and folders6",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders5').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        -208
      ],
      "id": "999cb9a8-ca89-4c25-95a3-e42c5f6d1dac",
      "name": "Move file",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\n\nvalue = _input.all()[0]['json']['body']['Body']\ns=value.split('/')\nfolder=s[1].replace(\" \",\"\")\n\n\n\n\nreturn [{\n  'json':{\n    'folder':folder\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -16
      ],
      "id": "df85c017-1afe-4a5c-baf9-46d66bcb3cc2",
      "name": "Code3"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.folder }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -16
      ],
      "id": "e8c43c19-d32e-40fe-addd-d3b59dfd102c",
      "name": "Search files and folders7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=\n",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        0
      ],
      "id": "63651303-9959-456a-a3dc-c2d9a7b2a4ed",
      "name": "Search files and folders8",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        624,
        -16
      ],
      "id": "b237ef86-47ae-45f2-a9b6-36a28586da49",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        -16
      ],
      "id": "022e8430-c0c4-4937-8424-7be8ad8a2f10",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarise the following content in 15 words with the file name:\nContent to summarise:\n{{ $json.text }}\n{{ $json.data }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        880,
        -16
      ],
      "id": "4b6d734c-29d2-4cdd-83d9-59ecb0d17047",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        192
      ],
      "id": "5cc5b266-6183-48ad-8ecf-e42799af0508",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ci37wBNwyj6ZyNG0",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "1f654d73-76b1-4664-bfbf-0df307d703cd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8439d2f8-773c-4a27-9b5d-2a3982f107dc",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5b4209d3-9a72-4032-ad37-82d62a8243fb",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        192,
        -16
      ],
      "id": "0e45b724-eac3-4867-873a-c7d225850772",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        160
      ],
      "id": "8881ff21-1787-47d6-8555-26e1850e7430",
      "name": "Download file1",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fuBh2dBblxBG04Ev",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        624,
        160
      ],
      "id": "d3c2d30c-1f78-4bba-81bf-d99664c405ac",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC8c9e778c6ec1858fdc5c314fd9b4aabd/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Body",
              "value": "=Here is your file list: \n{{$json[\"List of Items\"].join(\", \")}}\n\n"
            },
            {
              "name": "To",
              "value": "whatsapp:+919024818091"
            },
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        -608
      ],
      "id": "8028f52d-b55a-4b93-b2ea-6ec422b40849",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "OIMnHZPeYaXwp10V",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nl=[]\nk=len(_input.all())\nfor i in range(k):\n  f=_input.all()[i]['json']['name']\n  l.append(f)\n  \n\n\n\nreturn[{\n  'json':{\n    'List of Items':l,\n   \n  }\n}]\n  "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -608
      ],
      "id": "8157f8a2-9d23-4da0-b081-2f9034a65033",
      "name": "Code4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC8c9e778c6ec1858fdc5c314fd9b4aabd/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Body",
              "value": "=File deleted: \n{{ $('Search files and folders3').item.json.name }}\n\n"
            },
            {
              "name": "To",
              "value": "whatsapp:+919024818091"
            },
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        -448
      ],
      "id": "13cd75b0-c487-4422-9e2a-ed6d97117f10",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "OIMnHZPeYaXwp10V",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC8c9e778c6ec1858fdc5c314fd9b4aabd/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Body",
              "value": "={{ $('Code2').item.json.file }} moved: \nFROM {{ $('Code2').item.json.folder }}  to {{ $('Code2').item.json.dest }}\n\n"
            },
            {
              "name": "To",
              "value": "whatsapp:+919024818091"
            },
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        -160
      ],
      "id": "68ac8472-9ee3-4fab-a08a-a5c94e4d8e44",
      "name": "HTTP Request2",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "OIMnHZPeYaXwp10V",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC8c9e778c6ec1858fdc5c314fd9b4aabd/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Body",
              "value": "={{ $json.output }}"
            },
            {
              "name": "To",
              "value": "whatsapp:+919024818091"
            },
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        -16
      ],
      "id": "a9c7a56c-0423-4f76-a2c0-621a34d49d8d",
      "name": "HTTP Request3",
      "credentials": {
        "httpBasicAuth": {
          "id": "OIMnHZPeYaXwp10V",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7da03852-994e-48d0-ba3c-c443f76a42c3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        -256
      ],
      "id": "26204a37-ab56-47a4-9276-f6f3bcb121ea",
      "name": "Webhook",
      "webhookId": "7da03852-994e-48d0-ba3c-c443f76a42c3"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime\n\nvalue = _input.all()[0]['json']['body']['Body']\ns=value.split('/')\na=s[0].replace(\" \",\"\")\nb=s[1].replace(\" \",\"\")\n#c=s[3].replace(\" \",\"\")\n\n\n\nreturn [{\n  'json':{\n    \"Timestamp\":datetime.utcnow().isoformat(), \n    \"Command\":a,\n    \"Parameters\":value ,\n    \"Status\": 'success',\n    \n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        192
      ],
      "id": "86baf2e4-a7bb-4f6f-b019-91f8856d3c8d",
      "name": "Code5"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1lr4JnZPjKYNG8LNX_o3ACOOc5Sf5FGMdZ_8K8C6A84w",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lr4JnZPjKYNG8LNX_o3ACOOc5Sf5FGMdZ_8K8C6A84w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "User": "={{ $('Webhook').item.json.body.To }}",
            "Command": "={{ $json.Command }}",
            "Parameters": "={{ $json.Parameters }}",
            "Status": "={{ $json.Status }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User",
              "displayName": "User",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Command",
              "displayName": "Command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Parameters",
              "displayName": "Parameters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -176,
        192
      ],
      "id": "d295e1cb-4954-44f5-b3b2-128609156828",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kAOp6596Zx1nKp4P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC8c9e778c6ec1858fdc5c314fd9b4aabd/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Body",
              "value": "DOCX summarisation is currently unavailable. Please convert to PDF or TXT."
            },
            {
              "name": "To",
              "value": "whatsapp:+919024818091"
            },
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        144
      ],
      "id": "5cce14b7-0961-45e6-97ea-07634d91dace",
      "name": "HTTP Request4",
      "credentials": {
        "httpBasicAuth": {
          "id": "OIMnHZPeYaXwp10V",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC8c9e778c6ec1858fdc5c314fd9b4aabd/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Body",
              "value": "Are you sure?"
            },
            {
              "name": "To",
              "value": "whatsapp:+919024818091"
            },
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        -304
      ],
      "id": "2c956cfc-5dbe-4823-9d3d-7fffa9075818",
      "name": "HTTP Request5",
      "credentials": {
        "httpBasicAuth": {
          "id": "OIMnHZPeYaXwp10V",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Search files and folders4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders4": {
      "main": [
        [
          {
            "node": "Search files and folders5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders5": {
      "main": [
        [
          {
            "node": "Search files and folders6",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Search files and folders6": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Search files and folders7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders7": {
      "main": [
        [
          {
            "node": "Search files and folders8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders8": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [],
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72e5a2ea-4383-4389-9a8b-07ddead281b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9b69d05e91cd22e1065c2987fb76bfa9ac5d061740281f5800326c289559e0c"
  },
  "id": "QnZjNQJEMp6En2Wg",
  "tags": []
}